* {
	scroll-behavior: smooth;
	font-family: 'Roboto';
}

:root {
	--color-primario: #0176ff;
	--color-secundario: #158fff;
	--color-terciario: #000000;
	--color-bg1: #ffffff;
	--color-bg2: #eeeeee;
	--animacion-01: transform 0.4s, width 0.4s cubic-bezier(1, 0.01, 0, 0.98) 0.2s;
	--sombra-01: 0 0 3px 3px rgba(255, 0, 0, 0.5);
	--color-rgb: 100, 50, 10;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primario: #303d4b;
		--color-secundario: #3e97ff;
		--color-terciario: #ffffff;
		--color-bg1: #252e38;
		--color-bg2: #3d4854;
	}
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*::selection {
	background: #7300ff;
	color: white;
}

body {
	background: var(--color-bg1);
}

.lista-navegacion {
	list-style: none;
	padding: 0;
}

.lista-navegacion li a {
	transition: all 0.2s;
}

/* .lista-navegacion li a:link {
	text-decoration: none;
	color: #00b096;
}

.lista-navegacion li a:visited {
	color: #007160;
}

.lista-navegacion li a:active {
	text-decoration: underline;
}

.lista-navegacion li a:hover {
	font-size: 20px;
} */

.lista-navegacion li {
	width: 100%;
	padding: 10px 20px;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: box-shadow 0.2s ease-in-out;
}

.lista-navegacion li::before {
	content: '';
	background: var(--color-secundario);
	height: 100%;
	width: 5px;
	position: absolute;
	transform: scaleY(0);
	left: 0;
	top: 0;
	transition: var(--animacion-01);
	z-index: -1;
}

.lista-navegacion li:hover::before {
	transform: scaleY(1);
	width: 100%;
}

.lista-navegacion li:hover {
	transform: scaleY(1);
	box-shadow: 0 0 20px -5px #7300ff;
	cursor: pointer;
}

.lista-navegacion li span {
	color: white;
	height: 100%;
}

.lista-navegacion li a {
	text-decoration: none;
	height: 100%;
}

/*--------------------------
	SELECTORES
--------------------------*/

/* Selctor de tipo*/
mark {
	background: red;
}

/* Selector por id */
#item1 {
	background: green;
}

/* Selector por calse */
.item2 {
	background: orange;
}

/* Selectores anidados */
ul#lista1.lista1 span {
	background: red;
}

/* Selectores multiples */
.parrafo1,
.texto1,
.parrafo2 {
	color: orange;
}

/* Selectores por atributos
	^ -> inicia con X
	$ -> termina con X
	* -> incluye X
*/
a[href^='www'] {
	color: red;
}

a[href$='.com'] {
	color: green;
}

/* Selector global */
.contenedor1 * {
	font-size: 30px;
}

/*--------------------------
	CASCADA Y ESP.
--------------------------*/
.parrafo-chido {
	background: orange;
}

p.rojito#p3 {
	background: red;
}

.verde#p3 {
	background: green !important;
}

/*--------------------------
	COLORES
--------------------------*/
.c-normal {
	color: darkcyan;
}

.c-hex {
	color: #00ffaa;
}

.c-rgb {
	color: rgb(5, 205, 74);
}

.c-rgba {
	color: rgba(10, 40, 50, 0.7);
}

.c-hsl {
	color: hsl(120, 30%, 50%);
}

.c-hsla {
	color: hsla(220, 94%, 49%, 0.8);
}

/*--------------------------
	BACKGROUNDS
--------------------------*/
.bg-color {
	background-color: #00b096;
	width: 100%;
	height: 300px;
}

.bg-imagen {
	width: 100%;
	height: 300px;
	background-image: url('https://images.vexels.com/media/users/3/230267/isolated/preview/83e373509037415d43df2861a53e3f08-lindo-gatito-semi-plano.png');
	background-repeat: no-repeat;
	background-size: 120px;
	background-position: center;
}

.bg-combinado {
	width: 100%;
	height: 300px;
	/* background-color: #008af4;
	background-image: url('https://images.vexels.com/media/users/3/230267/isolated/preview/83e373509037415d43df2861a53e3f08-lindo-gatito-semi-plano.png');
	background-repeat: no-repeat;
	background-size: 120px; */
	background: url('https://images.vexels.com/media/users/3/230267/isolated/preview/83e373509037415d43df2861a53e3f08-lindo-gatito-semi-plano.png'),
		radial-gradient(red, blue, orange);
	background-repeat: no-repeat;
}

.bg-gradiente {
	width: 100%;
	height: 300px;
	background: radial-gradient(red, blue, orange);
}

/*--------------------------
	BORDES Y OUTLINE
--------------------------*/
.borde1 {
	width: 200px;
	height: 100px;
	background: #00b096;
	border: solid 20px green;
	border-radius: 10px;

	outline: solid 10px red;
	outline-offset: 2px;
}

/*--------------------------
	COMBINADORES
--------------------------*/
.padre-combinadores > span {
	color: red;
}

.padre-combinadores span + p {
	color: green;
}

.padre-combinadores span ~ p {
	color: orange;
}

/* .padre-combinadores p:last-of-type {
	color: black;
} */

/*--------------------------
	MODELO DE CAJA
--------------------------*/
.modelo-caja,
.modelo-caja2 {
	width: 300px;
	height: 100px;
	background: rgb(129, 129, 129);
	padding: 20px 10px 40px 60px;
	border: 5px solid red;
}

.modelo-caja {
	margin-bottom: 100px;
}

.modelo-caja2 {
	margin-top: 100px;
}

/*--------------------------
	PSEUDO ELEMENTOS
--------------------------*/
.pseudo-elementos {
	width: 200px;
	height: 100px;
	position: relative;
}

.pseudo-elementos::before {
	content: 'u';
	width: 20px;
	height: 10px;
	background: red;
}

.pseudo-elementos::after {
	content: '😡';
	width: 100%;
	height: 100%;
	background: red;
	position: absolute;
	top: 0;
	right: 0;
}

#pseudo-elementos p::first-letter {
	color: blue;
	font-size: 50px;
}

#pseudo-elementos p::first-line {
	background: yellow;
}

#pseudo-elementos ul li::marker {
	content: '👽';
	font-size: 30px;
}

.input {
	width: 300px;
	height: 40px;
	border-radius: 10px;
	outline: none;
	margin-bottom: 10px;
	border: 3px solid rgb(0, 132, 255);
}

.input:invalid {
	border: 3px solid red;
}

.input:valid {
	border: 3px solid rgb(0, 215, 4);
}

.input:required {
	background: rgb(194, 253, 255);
}

.input:read-only {
	background: gray;
	border: 20px solid green;
}

.input:focus {
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.prueba-pseudo-clases li:last-of-type {
	color: orange;
}

.prueba-pseudo-clases li:first-of-type {
	color: red;
}

.prueba-pseudo-clases p:first-child {
	font-size: 40px;
}

.prueba-pseudo-clases p:last-child {
	font-size: 40px;
}

.prueba-pseudo-clases-2 p:nth-last-child(even) {
	color: orange;
}

table tbody tr:nth-child(even) {
	background: #007160;
	height: 10px;
}

ul li:nth-child(odd) {
	color: red;
}

/*--------------------------
	ANIMACIONES
--------------------------*/
@keyframes animacion1 {
	0% {
		color: white;
		transform: scale(1) translateX(0);
	}

	25% {
		color: #00ffaa;
		transform: scale(2) translateX(250px);
	}

	50% {
		color: #00ffaa;
		transform: scale(1) translateX(500px);
	}

	75% {
		color: #00ffaa;
		transform: scale(2) translateX(250px);
	}

	100% {
		color: orange;
		transform: scale(1) translateX(0);
	}
}

.anim-1 {
	width: 100px;
	height: 100px;
	background: rgb(0, 132, 255);
	transition: all 0.5s cubic-bezier(0.04, 1.28, 1, 0), color 1s ease-in-out, font-size 0.5s ease-out,
		width 1s cubic-bezier(0.215, 0.61, 0.355, 1);
	/* animation-name: animacion1; */
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	/* animation-iteration-count: infinite; */
	animation-direction: alternate-reverse;
}

.anim-titulo-1:hover + div {
	background: rgb(174, 0, 255);
	color: white;
	font-size: 30px;
	width: 300px;
	transform: scale(2) translateX(100px);
}

@keyframes volando {
	0% {
		transform: translate(1000px, 100px);
	}

	50% {
		transform: translate(500px, 150px);
	}

	100% {
		transform: translate(-200px, 0);
	}
}

@keyframes volando2 {
	0% {
		transform: translate(1000px, 200px);
	}

	40% {
		transform: translate(500px, 250px);
	}

	100% {
		transform: translate(-200px, 0);
	}
}

@keyframes volando3 {
	0% {
		transform: translate(1000px, 200px);
	}

	70% {
		transform: translate(700px, 50px);
	}

	100% {
		transform: translate(-200px, 300px);
	}
}

.paisaje {
	width: 100%;
	height: 500px;
	background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cuesta_del_obispo_01.jpg/640px-Cuesta_del_obispo_01.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.paisaje .pajarito {
	width: 50px;
	animation-name: volando;
	animation-duration: 7s;
	animation-iteration-count: infinite;
}

.paisaje .pajarito2 {
	width: 50px;
	animation-name: volando2;
	animation-duration: 7s;
	animation-iteration-count: infinite;
}

.paisaje .pajarito3 {
	width: 50px;
	animation-name: volando3;
	animation-duration: 7s;
	animation-iteration-count: infinite;
}

.paisaje:hover .ave {
	animation-play-state: paused;
}

/*--------------------------
	POSICIONAMIENTO
--------------------------*/
.padre-p {
	background: gray;
	width: 100%;
	height: 300px;
	position: relative;
}

.padre-p .hijo-p {
	padding: 30px;
	display: inline-block;
	background: rgb(0, 132, 255);
	color: white;
	box-shadow: var(--sombra-01);
}

.hijo1 {
	top: 100px;
	left: 200px;
}

/* .hijo4 {
	bottom: 0px;
	right: 0;
} */

.hijo3 {
	position: absolute;
	top: 100px;
	left: 100px;
}

.padre-p .hijo2 {
	position: fixed;
	background: #7300ff;
	bottom: 0;
	right: 0;
}

body {
	z-index: 0;
	background: var(--color-bg2);
}

.sticky {
	z-index: 1;
}

.sticky-hijo1 {
	background: red;
	height: 200px;
	width: 100px;
	position: absolute;
}

.sticky-hijo2 {
	background: orange;
	height: 200px;
	width: 100px;
	position: absolute;
}

.sticky-2 {
	position: sticky;
	top: 100px;
	background: red;
}

.header {
	background: var(--color-bg1);
	color: var(--color-secundario);
}

.aside {
	background: var(--color-primario);
}

.main section {
	background: var(--color-bg1);
	padding: 40px;
}

.main section > h3 {
	color: var(--color-secundario);
	font-size: 30px;
	margin-bottom: 30px;
	position: relative;
}

.main section > h3::before {
	content: '';
	background: var(--color-terciario);
	height: 5px;
	width: 100px;
	position: absolute;
	bottom: -10px;
}
